* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.goTarifas {
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #008CBA;
}

.goTarifas:hover {
  color: white;
  background-color: #008CBA;
}

.reservaTuVuelo {
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #25D366;
}

.reservaTuVuelo:hover {
  color: white;
  background-color: #128C7E;
}

.reservaTuVuelo-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservaTuVuelo-content > img {
  margin-left: 10px;
}

.main-nav{
  background-color: #75c7ff;
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid black;
  color: #fff;
}

.link_main-nav{
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.img-carousel{
  height: 500px;
  object-fit: contain;
}

.inside-triangulo_img{
  width: 50%;
  height: 120%;
  background-color: transparent;
}

.inside-triangulo_img > img {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.inside-triangulo_texto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 50%;
  height: 100%;
  font-size: 40px;
  background-color: transparent;
  text-transform: uppercase;
}

.inside-triangulo_texto > h1 {
  text-shadow: -6px -2px 6px #282f8f;
}

.trapecio-l {
  width: 100%;
  height: 70vh;
  background-color: #75c7ff;
  border-radius: 43% 0% 100% 57% / 0% 100% 0% 100%;
  display: flex;
}

.trapecio-r{
  width: 100%;
  height: 100vh;
  background-color:#75c7ff;
  border-radius: 100% 0% 100% 0% / 0% 41% 59% 100%;
}

.container-mision-vision {
  margin-top: 25vh;
  width: 100%;
  height: 80vh;
  background-image: url('/images/IMG_009.JPG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
  margin-bottom: 10%;
}

.container-mision-vision > h2 {
  text-transform: uppercase;
  width: 80%;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.container-mision-vision > h4 {
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
  width: 60%;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0px 0px 10px #000;
}

.vuelo-parapente {
  width: 80%;
  height: 70%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vuelo-parapente > ul,p {
  width: 80%;
  margin-bottom: 2%;
  font-size: 22px;
}

.vuelo-parapente > h2 {
  margin-bottom: 2%;
  margin-top: 3%;
  font-size: 40px;
}

.vuelo-parapente > ul > li {
  margin-bottom: 2%;
}

.container-mini-gallery {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 10%;
}

.mini-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mini-gallery > img {
  width: 30%;
  margin-left: 1%;
}

.container-mini-gallery > video {
  margin-top: 2%;
}

.container-mini-gallery > h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 4%;
}

.container_botones_ver > a {
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #008CBA;
}

.container_botones_ver > a:hover {
  color: white;
  background-color: #008CBA;
}

.container-portafolio_header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-portafolio_header > h1 {
  font-size: 90px;
}

.video_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container_botones_ver {
  display: flex;
}

.container_profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container_profile > p {
  width: 50%;
  margin-left: 5%;
  font-size: 25px;
  display: block;
}

.profile_title {
  text-align: center;
  padding-top: 2%;
  margin-bottom: 6%;
  font-size: 40px;
}

.container_tarifas {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tarifas_WEB {
  display: block;
}

#tarifas_MB {
  display: none;
}

#ComoLlegarMB {
  background-image: url(/images/como_llegar_6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  height: 150vh;
}

.containerComoLlegar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerComoLlegar > h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 1%;
  display: none;
}

.containerComoLlegar > ul {
  width: 80%;
  font-size: 18px;
}

.containerVideoTarifas {
  display: flex;
  gap: 5%;
}

.imgLugarDelVuelo {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60%;
}

.imgComoLlegar {
  position: relative;
  width: 80%;
  height: 70%;
  left: 10%;
}

.footer {
  background-color: #008CBA;
  color: #fff;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerLogoWeb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divFooterComoLlegar {
  width: 20vw;
}

.footerTitulo {
  display: flex;
  align-items: center;
  font-size: 30px;
  display: none;
}

.footerLogoMb {
  display: none;
}

.footerComoLlegar {
  font-size: 10px;
}

.footerTitleCamp {
  padding-top: 1%;
  font-size: 12px;
  /* width: 100%; */
}

.footerHr {
  border: 1px solid black;
  margin-top: 1%;
}

.containerContacto {
  margin-top: 20%;
}

.containerContacto > h2 {
    font-size: 40px;
}

.redesContacto {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.slogan{
  width: 100%;
  height: 4%;
  background-color: #008CBA;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.reservaVuelo {
  width: 100%;
  height: 4%;
  background-color: #008CBA;
  position: fixed;
  top: 4%;
  left: 0;
  z-index: 9999;
}

@media only screen and (max-width: 600px) {
  .inside-triangulo_img {
    display: none;
  }

  .inside-triangulo_texto{
    font-size: 30px;
    width: 100%;
    background-image: url(/images/portada_celular.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .inside-triangulo_texto > h4{
    font-size: 40px;
    width: 100%;
    margin-top: 30%;
    color: yellow;
    text-shadow: -6px -2px 6px #282f8f;
    text-align: center;
    position: relative;
    top: 20%
  }
  .container-mision-vision {
    background-image: url('/images/fondo_sec_vision.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding-top: 5%;
    filter: saturate(180%);
  }
  .container-mision-vision > h2 {
    font-size: 40px;
  }

  .container-mision-vision > h4 {
    background-color: transparent;
    box-shadow: 0px 0px 10px transparent;
    width: 100%;
    font-size: 14px;
    color:#fff;
    margin-top: 10%;
    text-shadow: -2px -2px 6px #000;
    text-align: justify;
  }

  .vuelo-parapente {
    margin-top: 50%;
  }

  #vueloParapenteMb{
    background-image: url('/images/Foto_atardecer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding-top: 5%;
    filter: saturate(180%);
  }
  .vuelo-parapente > ul,p {
    font-size: 12px;
  }

  .vuelo-parapente > h2 {
    font-size: 35px;
  }

  #vuelo-seguro {
    color: #973a0e;
    background-image: url('/images/foto_vuelo_seguro.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding-top: 5%;
    /* filter: saturate(180%); */
  }

  
  .trapecio-r {
    height: 120vh;
  }
  
  .container-mini-gallery > video {
    width: 100%;
  }
  
  .container_profile {
    flex-direction: column-reverse;
    justify-content: start;
    width: 45%;
    position: absolute;
    right: 4%;
    top: 25%;
    text-align: justify;
  }
  #nuestro-equipo {
    background-image: url('/images/profile_parapente.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 5%;
    -webkit-filter: saturate(180%);
            filter: saturate(180%);
    min-height: 100vh;
    margin-bottom: 4%;
  }

  .container_profile > img {
    display: none;
  }

  .container_profile > p {
    width: 100%;
    font-size: 14px;
    margin-left: 0;
  }

  .containerComoLlegar > ul {
    font-size: 15px;
  }

  .containerComoLlegar > h2 {
    display: block;
  }

  .imgComoLlegar {
   display: none;
  }

  #ComoLlegarMB {
    margin-top: 5%;
    background-image: url('/images/como_llegar_cel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
  }

  #ComoLlegarMB > div > h2 {
    color: #fff;
    font-size: 30px;
  }
  

  #buttonsComoLlegar {
    display: none;
  }

  .container_tarifas > img {
    width: 100%;
  }

  .containerVideoTarifas {
    flex-direction: column;
    width: 100%;
  }

  #tarifas_WEB {
    display: none;
  }

  #tarifas_MB {
    display: block;
  }

  .imgLugarDelVuelo {
    display: none;
  }

  .textoLugarVuelo {
    font-size: 14px;
  }

  .video_container {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .footerTitulo > h4 {
    width: 100%;
    text-align: center;
  }
  .footerLogoWeb {
    display: none;
  }

  .divFooterComoLlegar {
    width: 100vw;
  }

  .footerLogoMb {
    display: none;
  }
  .footerComoLlegar {
    width: 100%;
    text-align: center;
  }

  .footerTitleCamp{
    text-align: center;
    width: 100%;
  }
  .footerHr {
    width: 80%!important;
    margin-left: 10%;
  }

  .link_mb_goTarifas {
    color: white;
    background-color: #008CBA;
  }

  .link_mb_reservaTuVuelo {
    color: white;
    background-color: #128C7E;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .inside-triangulo_img {
    display: none;
  }

  .inside-triangulo_texto{
    width: 100%;
  }
  .inside-triangulo_texto > h4{
    font-size: 40px;
    width: 100%;
  }

  .container-mision-vision {
    padding-top: 5%;
  }
  .container-mision-vision > h2 {
    font-size: 40px;
  }

  .container-mision-vision > h4 {
    width: 90%;
    font-size: 20px;
  }

  .vuelo-parapente {
    margin-top: 20%;
    padding-top: 5%;
  }

  #vueloParapenteMb{
    background-image: url('/images/Foto_atardecer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding-top: 5%;
    filter: saturate(180%);
  }

  .vuelo-parapente > ul,p {
    font-size: 25px;
  }

  .vuelo-parapente > h2 {
    font-size: 40px;
  }

  .container_botones_ver > a {
    font-size: 40px;
  }

  .imgComoLlegar {
    display: none;
   }

   .container_tarifas > img {
    width: 100%;
  }

  #tarifas_WEB {
    display: none;
  }

  #tarifas_MB {
    display: block;
  }

  .imgLugarDelVuelo {
    display: none;
  }
  .footer {
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .footerTitulo > h4 {
    width: 100%;
    text-align: center;
  }
  .footerLogoMb {
    display: none;
  }

  .divFooterComoLlegar {
    width: 100vw;
  }

  .footerComoLlegar {
    width: 100%;
    text-align: center;
  }

  .footerTitleCamp{
    text-align: center;
    width: 100%;
  }
  .footerHr {
    width: 80%!important;
    margin-left: 10%;
  }

  .link_mb_goTarifas {
    color: white;
    background-color: #008CBA;
  }

  .link_mb_reservaTuVuelo {
    color: white;
    background-color: #128C7E;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1024px){
  .container-mision-vision {
    padding-top: 5%;
  }
  .container-mision-vision > h2 {
    font-size: 40px;
  }

  .container-mision-vision > h4 {
    font-size: 20px;
  }

  .vuelo-parapente {
    margin-top: 20%;
    padding-top: 5%;
  }

  .container_tarifas > img {
    width: 90%;
  }

  .imgComoLlegar {
    display: none;
   }

   .imgLugarDelVuelo {
    display: none;
  }

  .link_mb_goTarifas {
    color: white;
    background-color: #008CBA;
  }

  .link_mb_reservaTuVuelo {
    color: white;
    background-color: #128C7E;
  }

  #tarifas_WEB {
    display: none;
  }

  #tarifas_MB {
    display: block;
  }
}